nav {
    margin-bottom: 4%;
}

#projectNav {
    /*background-color: green;*/
    display: flex;
    justify-content: space-around;
}

#projectNav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

#projectNav a:hover {
    color: grey;
    text-decoration: line-through;
    text-decoration-color: rgba(200, 0, 0, 0.5);
}

#projectNav h1 {
    margin-bottom: 50px;
}