body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace;
}

span {
  display: block;
}

span:not(.light) {
  opacity: 0;
  -webkit-animation: flashText 1.5s ease-out alternate infinite;
          animation: flashText 1.5s ease-out alternate infinite;
}

span.light {
  position: relative;
  display: inline-block;
}
span.light:before {
  position: absolute;
  left: 0;
  top: -10%;
  width: 100%;
  height: 120%;
  background: rgba(255, 255, 255, 1);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  content: "";
  opacity: 0;
  -webkit-animation: flash 1.5s ease-out alternate infinite;
          animation: flash 1.5s ease-out alternate infinite;
}

@-webkit-keyframes flash {
  to {
    opacity: 1;
  }
}

@keyframes flash {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes flashText {
  to {
    opacity: 0.15;
  }
}
@keyframes flashText {
  to {
    opacity: 0.15;
  }
}

nav {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-image: url("../images/starrybg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h2 {
  font-family: 'Londrina Outline', cursive;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.75;
  letter-spacing: 3px;
  text-align: center;
}

nav h3 {
    font-weight: normal;
    letter-spacing: 2px;
}


#nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#nav a {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-size: 1.5em;
    font-family: sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 25%;
}

#nav a:hover {
    color: gray;
    text-decoration: line-through;
    text-decoration-color: rgba(200, 0, 0, 0.5);
}

#projects {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

/*.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}*/

.card h1 {
    visibility: hidden;
}

.card p {
    visibility: hidden;
}

.card:hover h3,p {
    text-shadow: 1px 1px grey;
    color: white;
    /*mix-blend-mode: color-dodge;*/
    text-transform: uppercase;
    letter-spacing: 12px;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover h3 {
    margin-top: 25px;
    margin-bottom: 80%;
    font-size: 1.5em;
}

.card:hover p {
    font-size: 1.2em;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

#projects div {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-top: 2%;
    -webkit-filter: sepia(75%) blur(5px);
}

#projects div:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}

#projects a {
    text-decoration: none;
}

#projects h3 {
  color: white;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*PROJECT BACKGROUND IMAGES*/

#one {
    background-image: url("../images/Projects/Budgety.png");
}

#two {
    background-image: url("../images/Projects/Colorgame.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#three {
    background-image: url("../images/Projects/BackgroundGenerator.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#four {
    background-image: url("https://thumbs.dreamstime.com/z/abstract-hand-painted-brush-stroke-circle-isolated-border-frame-grunge-colorful-shapes-dry-watercolor-drawn-placeholder-78530541.jpg");
}

#five {
    background-image: url("https://thumbs.dreamstime.com/z/abstract-hand-painted-brush-stroke-diamond-rhombus-isolated-border-frame-grunge-colorful-shapes-dry-watercolor-drawn-78530534.jpg");
}

#six {
    background-image: url("https://thumbs.dreamstime.com/t/abstract-hand-painted-brush-stroke-pentagon-isolated-border-frame-grunge-colorful-shapes-dry-watercolor-drawn-placeholder-78530554.jpg");
}

#seven {
    background-image: url("../images/Screen%20Shot%202018-06-10%20at%2010.15.00%20PM.png");
}

#eight {
    background-image: url("https://thumbs.dreamstime.com/b/abstract-hand-painted-brush-stroke-square-isolated-border-frame-grunge-colorful-shapes-dry-watercolor-drawn-placeholder-78530539.jpg");
}

#nine {
    background-image: url("https://thumbs.dreamstime.com/z/abstract-hand-painted-brush-stroke-star-isolated-border-frame-grunge-colorful-shapes-dry-watercolor-drawn-placeholder-78530535.jpg");
}

#ten {
    background-image: url("https://thumbs.dreamstime.com/z/abstract-hand-painted-brush-stroke-circle-isolated-border-frame-grunge-colorful-shapes-dry-watercolor-drawn-placeholder-78530541.jpg");
}

#eleven {
    background-image: url("https://thumbs.dreamstime.com/z/abstract-hand-painted-brush-stroke-diamond-rhombus-isolated-border-frame-grunge-colorful-shapes-dry-watercolor-drawn-78530534.jpg");
}

#twelve {
    background-image: url("https://thumbs.dreamstime.com/t/abstract-hand-painted-brush-stroke-pentagon-isolated-border-frame-grunge-colorful-shapes-dry-watercolor-drawn-placeholder-78530554.jpg");
}

footer {
    display: flex;
    text-align: center;
    background-image: url("../images/starrybg.jpg");
    filter: url("../images/starrybgfooter.jpg") grayscale (100%);
    color: white;
}

#contact {
    width: 50%;
}

#contact h3 {
  font-weight: normal;
  letter-spacing: 2px;
}

#contact h5 {
  letter-spacing: 2px;
  text-transform: uppercase;

}

.container {
    display: flex;
}

#contactInfo {
    width: 50%;
}

#contactInfo div label{
    height: 100%;
    width: 50%;
    text-align: right;
    float: left;
}

#message {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    margin-bottom: 5px;
}

input[type=email] {
  /*margin-left: -10px;*/
}

textarea {
    height: 100%;
    width: 100%;
}


#social {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#social img {
    color: red;
    height: 90%;
    width: 90%;
    opacity: 0.2;
}

#social img:hover {
    opacity: 1;
}



